body {
    background-image: url("img/5f9c198201e14.jpeg");
}

main.centro {
    text-align: center;
}

h1 {
    text-align: center;
    color: greenyellow;
}
colgroup {
    color: greenyellow;
}
p {

    color: greenyellow;
}